$hole-diameter-large: 30px;
$hole-diameter-small: 22px;
$hole-distance-large: 30px;
$hole-distance-small: 20px;

$maxwidth: 1600px; // max width of layout

$grid-gap-small: 10px;
$grid-gap-large: 20px;

$pill-height-large: 40px;
$pill-height-small: 34px;

@mixin grid {
  @include media-2col {
    display: grid;
    grid-template-columns: repeat( 12, 1fr );
    column-gap: $grid-gap-large;
    @include media-small {
      column-gap: $grid-gap-small;
    }
  }
}

@mixin grid-margin($mult: 1) {
  margin-left: $mult * $grid-gap-large;
  margin-right: $mult * $grid-gap-large;
  @include media-small {
    margin-left: $mult * $grid-gap-small;
    margin-right: $mult * $grid-gap-small;
}
}

@mixin grid-padding {
  padding-left: $grid-gap-large;
  padding-right: $grid-gap-large;
  @include media-small {
    padding-left: $grid-gap-small;
    padding-right: $grid-gap-small;
  }
}

@mixin grid-template-rows-square($rows) {
  grid-template-rows: calc( #{100/$rows}vw - #{ 2*$grid-gap-large } );
  grid-auto-rows: calc( #{100/$rows}vw - #{ 2*$grid-gap-large } );
  @include media-small {
    grid-template-rows: calc( #{100/$rows}vw - #{ 2*$grid-gap-small } );
    grid-auto-rows: calc( #{100/$rows}vw - #{ 2*$grid-gap-small } );
  }
}

@mixin height-square($rows: 1) {
  height: calc( #{100/$rows}vw - #{ 2*$grid-gap-large } );
  @include media-small {
    height: calc( #{100/$rows}vw - #{ 2*$grid-gap-small } );
  }
}